[user]
    name = my.name
    email = my@email
    signingkey = XXXXXXXXXXXXXXX
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    symlinks = true
    editor = vim
    commentChar = ";"
[fetch]
    prune = true
[pull]
    rebase = true
[push]
    default = simple
[merge]
    ff = false
[commit]
    template = ~/.gitmessage
    gpgsign = true
[alias]
    b = branch --all
    ss = status -b --short
    sl = status --long --ignored
    h = log --graph --date-order --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%cn %C(reset)%C(green)%cr (%cd)'
    l = log --show-signature
    f = fetch -v origin
    pl = pull -v
    ps = push
    whenadded = log --diff-filter=A
    checkmerge = diff HEAD HEAD^1
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    hidden = !git ls-files -v | grep "^[a-z]"
[gpg]
    program = gpg2
